{% extends "_layout_signin.html" %}

{% block content %}
    <div class="sign-in-from bg-white">
        <h2 class="mb-0">Register</h2>
        <div id="notify"></div>
        <form class="mt-4" id="_registration">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="dac_name">User Name</label>
                <input type="text" class="form-control mb-0" id="dac_name" placeholder="Enter DAC Name" name="username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control mb-0" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label>DAC</label>
                <select class="form-control mb-0" id="dac" name="dac">
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control mb-0" id="password" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" class="form-control mb-0" id="confirmPassword" placeholder="Password" name="confirm_password">
            </div>
            <div class="d-inline-block w-100">
                <button type="button" class="btn btn-primary float-right" onclick="_submit()">Register</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        function _submit() {
            _post("/member/register", $("#_registration").serialize(), function (resp) {
                let res = $.parseJSON(resp);
                if (res.code === 'ok') {
                    _notify("notify", "注册成功", "success");
                    fresh_redirect("/", 1000);
                }
                else {
                    _notify("notify", res.message[0], "error");
                    window.setTimeout(
                        () => {_remove_notify("notify")},
                        1000
                    )
                }
            })
        }
    </script>
{% endblock %}